@import url(./loading.css);
@import url(./carousel.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans", sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  background: #000;
  touch-action: none;

  overflow: hidden;
}

main {
  display: block;
  opacity: 0;
  transition: all 2000ms ease-in-out;
}

#nav {
  position: sticky;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  color: white;
  font-size: 1.2rem;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  transition: all 300ms ease-in-out;
  z-index: 1000;
}

.brand-name {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  transition: all 100ms ease-in-out;
}

#nav ul {
  display: flex;
  list-style: none;
  gap: 4rem;
}

#nav ul li a {
  text-decoration: none;
  color: #a6a6a6;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 100ms ease-in-out;
  padding: 0.5rem 1rem;
}

#nav ul li a:hover {
  color: #fff;
}

.nav-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
}

#nav svg {
  width: 20px;
  height: 20px;
}

.slide-text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 8rem 0;
  overflow: hidden;
}

.slide-text {
  color: white;
  font-size: 6rem;
  font-weight: 700;
  text-align: right;
  transform: translateX(-100%);
  transition: all 1000ms ease-in-out;
  padding: 0 3rem;
  z-index: 10;
}

#section-2 {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sec-2-black-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  transition: all 200ms ease-in-out;
}

#sec-2-img {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 200ms ease-in-out;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#sec-2-img img {
  width: 20%;
  height: 20%;
  object-fit: cover;
  transform: all 200ms ease-in-out;
}

#section-2-5 {
  padding: 10rem 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-2-5-1 {
  position: relative;
  padding: 4rem 1rem;
  color: white;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 10;
  max-width: 70%;
}

#section-2-5-1 h2 {
  max-width: 50%;
  font-size: 10rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #3d3d3d;
}

#section-2-5-1 p {
  padding-top: 5rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}

#section-2-5-1 h2 button {
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 50px;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: black;
  transition: all 100ms ease-in-out;
}
#section-2-5-1 h2 button:hover {
  background: #000;
  color: #fff;
  stroke: white;
}

#section-2-5-1 h2 button svg {
  width: 20px;
  stroke: inherit;
  transition: all 100ms ease-in-out;
}

#section-3 {
  position: relative;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 5rem 0;
}

.pointer-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 200px;
  object-fit: cover;
  z-index: 1;
}

#section-3 h2 {
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 3rem;
  text-transform: uppercase;
}

.moving-text-container {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  overflow: hidden;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-55% + var(--offset));
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

.moving-text-container-2 {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  transform: translate(0, 100%);
  animation: reveal 1s cubic-bezier(0.77, 0, 0.175, 1);
  animation-fill-mode: forwards;
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

.moving-text {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 20s linear infinite;
  animation-fill-mode: forwards;
  animation-play-state: running;
  line-height: 1;
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
}

.moving-text span {
  opacity: 0;
  transform: translate(0, 100%);
  line-height: 1;
  font-size: 6vw;
  padding: 0 4vw;
  font-weight: 700;
  text-transform: uppercase;
  animation: reveal 2s cubic-bezier(0.77, 0, 0.175, 1);
  animation-fill-mode: forwards;
  color: #e6e6e6;
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
}

.moving-text span :hover {
  color: #000;
}

.moving-text-2 {
  animation-name: marquee-reverse;
}

#section-4 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  background: #fff;
  gap: 5rem;
  transform: all 200ms ease-in-out;
}

#section-4 .sec-4-container {
  position: relative;
  display: flex;
  gap: 5rem;
  background: #fff;
  padding: 5rem 0rem;
  transform: all 200ms ease-in-out;
}

#section-4 .sec-4-container:nth-child(1) {
  width: 400px;
  gap: 2rem;
  font-weight: 500;
  transform: all 200ms ease-in-out;
}

#section-4 .sec-4-container:nth-child(1) div:nth-child(1) {
  font-size: 2rem;
  transform: all 200ms ease-in-out;
}

#section-4 .sec-4-container:nth-child(1) div:nth-child(2) {
  font-size: 1rem;
  margin-top: 20rem;
  line-height: 150%;
  transform: all 200ms ease-in-out;
}

#sec-4-img-1 {
  position: relative;
  margin-top: 12rem;
  width: 360px;
  height: 480px;
  object-fit: cover;
  transform: all 200ms ease-in-out;
}

#sec-4-img-2 {
  margin-top: 10rem;
  width: 260px;
  height: 370px;
  object-fit: cover;
  transform: all 200ms ease-in-out;
}

.sec-4-button {
  background: #000;
  padding: 1rem 2rem;
  border-radius: 50px;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-4-button svg {
  width: 20px;
}

#section-6 {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #000;
  padding: 8rem 10rem;
}

#section-6 h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 3rem;
  max-width: 500px;
}

#section-6 p {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 3rem;
  max-width: 400px;
}

.sec-6-container {
  position: relative;
  display: flex;
  gap: 8rem;
  padding: 0 2rem;
}

.sec-6-container p {
  color: rgb(117, 117, 117);
}

.sec-6-container-2 {
  display: flex;
  flex-direction: column;

  margin-top: 3rem;
  position: relative;
  transition: all 100ms ease-in-out;
}

.sec-6-container-2 h3 {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 100ms ease-in-out;
}

.sec-6-container-2 input {
  height: auto;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 4rem 0;
  font-size: 4rem;
  font-weight: 500;
  background: #000;
  text-transform: uppercase;
  margin-bottom: 7rem;
}

.sec-6-container-2 button {
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 50px;
  position: absolute;
  bottom: 2rem;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  stroke: black;
  transition: all 100ms ease-in-out;
}
.sec-6-container-2 button:hover {
  background: #000;
  color: #fff;
  stroke: white;
}

.sec-6-container-2 button svg {
  width: 20px;
  stroke: inherit;
  transition: all 100ms ease-in-out;
}

footer {
  position: relative;
  background: #fff;
  padding: 5rem 10rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  transition: all 100ms ease-in-out;
}

footer h2 {
  color: #000;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 100ms ease-in-out;
}

.footer-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: start;
  transition: all 100ms ease-in-out;
}

.footer-container h3 {
  font-size: 0.7rem;
}

.footer-container p {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.4);
}

#footer-arrow-button {
  background: #000;
  padding: 2rem 0.8rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 01rem;
  bottom: 1rem;
}

#footer-arrow-button svg {
  width: 20px;
  transform: rotate(-90deg);
}

*::-webkit-scrollbar {
  width: 5px;
  transition: all 200ms ease-in-out;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

*::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
  border-radius: 25px;
  transition: all 200ms ease-in-out;
}
